/* new CSS */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0 10%;
  min-height: 70vh;
  background-color: #000;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #000;
  color: white;
  min-height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  border-bottom: 2px solid blue;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  margin: 0.5rem;
}

.navbar .home,
.social {
  width: 30%;
  display: flex;
}

.home {
  justify-content: left;
}

.social {
  justify-content: end;
}

.navbar ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 16px;
  list-style-type: none;

}

.body_container {
  border-bottom: 3px solid blue;
}

.card {
  width: 100%;
  position: relative;
  margin: .2rem;
  padding: 1rem;
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  font-family: var(--font-mono);
}

.data_container {
  min-width: 35rem;
}

.colum {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.countdown {
  padding: 1.5rem;
  font-size: 4rem;
  text-align: center;
}

.warning {
  background-color: chocolate;
}

.alert {
  background-color: darkred;
}

.startbutton {
  width: 100%;
  height: 35px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.countdown_controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  font-size: 15px;
}

.countdow_input {
  font-size: 20px;
  width: 60px;
  text-align: center;
}

.countdown_header {
  display: flex;
  justify-content: space-between;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    flex-direction: column;
  }
}

/* Nextjs CSS */